{% extends 'core/base.html' %}

{% block head_title %}Banking System{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
        <!--Left Col-->
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
            <h1 class="font-bold text-4xl my-4">Banking System</h1>
            <p class="leading-normal mb-4">
               This is a project created for DBMS Mini project 
               | Course Code : 18CSC303J
                <ul class="meow" style="color:cornflowerblue">
                    <li>Faculty : <bold>DR.Sam Pradeep Raj</bold></li>
                    <li><bold>Kabilan M</bold> - RA1911029010063</li>
                    <li><bold>M Shekhar Rao</bold> - RA1911029010066</li>
                    <li><bold> Narahari Raghava Chimata</bold> - RA1911029010069</li>
                    <li> </li>
                </ul>
                <br>
            </p>
            <div>
            <a href="{% url 'accounts:user_registration' %}" class="bg-transparent hover:bg-gray-800 text-gray-800 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
            <a href="https://github.com/saadmk11/banking-system" class="bg-transparent hover:bg-gray-800 text-gray-800 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">GitHub</a>
            </div>
        </div>
        <!--Right Col-->
        <div class="w-full lg:w-1/2 lg:py-6 text-center">
            <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202003/bank_2_660x450_240120042324_190320034529.jpg">
            <!-- <h1 style="font-size: 12rem" class="font-black text-gray-800"></h1> -->
        </div>
    </div>
{% endblock %}
